<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item>
      <ion-input labelPlacement="floating" label="Masukkan URL foto: " [(ngModel)]="url"></ion-input>
    </ion-item>
    <ion-item>
      <ion-img src="{{ url }}" alt="Link foto"></ion-img>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" label="Masukkan password" [(ngModel)]="password"
        (keyup)="checkStrength()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox disabled="true" labelPlacement="end" [checked]="lengthCriteria">More than 6
        characters</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox disabled="true" labelPlacement="end" [checked]="numberCriteria">Include Number</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox disabled="true" labelPlacement="end" [checked]="specialCharCriteria">Include Special
        Character</ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>